.about {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr, auto auto;
  gap: 24px;
  align-items: start;
  padding-bottom: 52px;
  border-bottom: 3px solid var(--accent-green-100);
}
/* .content {
  grid-column: 1 / 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
} */
.title {
  font-size: 46px;
  font-weight: 600;
  max-width: 780px;
  grid-row: 3;
  grid-column: 1 / 8;
  align-self: flex-end;
}
.span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px;
  font-size: 20px;
  font-weight: 600;
  max-width: 400px;
  grid-column: 1 / 8;
  grid-row: 3;
}
.image {
  grid-column: 8 / 13;
  width: 100%;
  align-self: flex-end;
  grid-row: 3;
}
.imageSrc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 991px) {
  .inner {
    row-gap: 40px;
  }
  .title {
    font-size: 40px;
    grid-column: 1 / 10;
  }
  .span {
    grid-row: 1;
    grid-column: 1 / 10;
  }
  .image {
    grid-column: 6 / 12;
    margin-top: 32px;
    grid-row: 2;
  }
}
@media (max-width: 580px) {
  .title {
    grid-row: 1;
    grid-column: 1 / 12;
  }
  .span {
    grid-row: 4;
    grid-column: 1 / 12;
  }
  .image {
    grid-column: 1 / 12;
  }
  .span {
    font-size: 22px;
    grid-column: 1 / 12;
    max-width: unset;
  }
}
@media (max-width: 410px) {
  .title {
    font-size: 28px;
  }
}
