.footer {
  padding: 80px 0;
}
.title {
  grid-column: 1 / -1;
  width: 100%;
  margin: 0 0 48px 0;

  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9;

  color: var(--accent-purple-100);

  font-size: clamp(40px, 15vw, 241px);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.item {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: var(--neutral-900);
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  opacity: 0.6;
}