.pride {
  max-width: 1440px;
}

.grid {
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 24px;
}
.titleBlock {
  grid-column: 9 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 52px;
  font-weight: 600;
  max-width: 254px;
  width: 100%;
}

.card {
  position: relative;
  padding: 10px 40px 10px 60px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.subtitle {
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 15px;
}
.text {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.pink {
  background: var(--accent-purple-100);
}

.green {
  background: var(--accent-green-100);
}

.oval {
  border-radius: 50% / 50%;
  aspect-ratio: 3 / 2.7;
}
.rectangle {
  height: 331px;
}

.outline {
  background: transparent;
  border: 1px solid #000;
}
.cambridge {
  grid-column: 1 / span 4;
}

.certs {
  grid-column: 5 / span 4;
}

.trips {
  grid-column: 5 / span 4;
  border-radius: 16px;
}

.olymp {
  grid-column: 9 / -1;
}

.ring {
  position: absolute;
  top: 2px;
  left: -3px;
  width: 118px;
  height: 86px;
  border: 1px solid var(--neutral-900);
  border-radius: 50%;
}
@media (max-width: 1400px) {
  .ring {
    width: 90px;
    height: 60px;
  }
}
@media (max-width: 1200px) {
  .rectangle {
    height: 304px;
  }
  .titleBlock {
    grid-row: 1;
    grid-column: 7 / span 5;
  }
  .cambridge {
    grid-column: 1 / span 5;
  }

  .certs {
    grid-column: 7 / span 5;
  }

  .trips {
    grid-column: 7 / span 5;
    border-radius: 16px;
  }

  .olymp {
    grid-column: 1 / span 5;
    grid-row: 1;
  }
}
@media (max-width: 1200px) {
  .ring {
    left: 22px;
  }
}
@media (max-width: 991px) {
  .cambridge {
    grid-column: 1 / span 6;
  }

  .certs {
    grid-column: 7 / span 6;
  }

  .trips {
    grid-column: 1 / span 8;
    border-radius: 16px;
  }

  .olymp {
    grid-column: 1 / span 6;
    grid-row: 1;
  }
  .ring {
    top: -10px;
    left: 22px;
  }
}
@media (max-width: 768px) {
  .titleBlock {
    grid-row: 1;
    grid-column: 5 / span 12;
  }
  .title {
    font-size: 40px;
  }
  .text {
    font-size: 18px;
  }
  .cambridge {
    grid-column: 1 / span 12;
  }

  .certs {
    grid-column: 6 / span 12;
    grid-row: 3;
  }

  .trips {
    grid-column: 6 / span 12;
    border-radius: 16px;
  }

  .olymp {
    grid-column: 1 / span 12;
    grid-row: 2;
  }
  .ring {
    top: 33px;
  }
}
@media (max-width: 580px) {
  .subtitle {
    font-size: 24px;
  }
  .description {
    font-size: 18px;
  }
  .titleBlock {
    grid-row: 1;
    grid-column: 4 / span 12;
  }
  .cambridge {
    grid-column: 1 / span 12;
  }

  .certs {
    grid-column: 4 / span 12;
    grid-row: 3;
  }

  .trips {
    grid-column: 4 / span 12;
  }

  .olymp {
    grid-column: 1 / span 12;
    grid-row: 2;
  }
  .ring {
    top: 0;
    z-index: 0;
  }
}
@media (max-width: 410px) {
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 24px;
  }

  .description {
    font-size: 18px;
  }
  .titleBlock {
    grid-row: 1;
    grid-column: 1 / span 12;
  }
  .cambridge {
    grid-column: 1 / span 12;
  }

  .certs {
    grid-column: 1 / span 12;
    grid-row: 3;
  }

  .trips {
    grid-column: 1 / span 12;
  }

  .olymp {
    grid-column: 1 / span 12;
    grid-row: 2;
  }
  .ring {
    top: -27px;
    z-index: 0;
  }
}
