.button {
  max-width: 272px;
  background: var(--accent-purple-100);
  color: var(--neutral-900);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  border-radius: 14px;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease;
}

.button:hover {
  background: var(--accent-green-100);
}