.burger {
  width: 44px;
  height: 44px;
  background: none;
  border: 0;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;

  position: fixed;
  top: 55px;
  right: 50px;
  z-index: 30;
}

.burger span {
  height: 2px;
  width: 100%;
  background: var(--neutral-900);
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.burger_opened span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger_opened span:nth-child(2) {
  opacity: 0;
}
.burger_opened span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: min(320px, 80svw);
  background: #fff;

  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 20;

  padding: 80px 24px 24px;
}

.menu_opened {
  transform: translateX(0);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.link {
  font-size: 20px;
  font-weight: 600;
  color: var(--neutral-900);
  text-decoration: none;
  transition: 0.4s ease;
}

.link:not(.link_active):hover {
  color: var(--accent-green-100);
}
.link_active {
  color: var(--accent-purple-100);
}
.burger,
.menu,
.overlay {
  display: none;
}

@media (max-width: 991px) {
  .menu,
  .overlay {
    display: block;
  }
  .burger {
    display: flex;
  }
}
@media (max-width: 768px) {
  .burger {
    top: 60px;
  }
}
@media (max-width: 768px) {
  .burger {
    top: 46px;
    right: 24px;
  }
}
@media (max-width: 390px) {
  .burger {
    top: 34px;
  }
}
