@import "./styles/tokens.css";
body {
  margin: 0;
  /* font-family: var(--font-montserrat); */
  font-family: "Montserrat", sans-serif !important;
  color: var(--neutral-900);
  background-color: var(--neutral-100);
}
html, body {
  overflow-x: hidden;
  overflow-x: clip;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--neutral-900);
}
p,
blockquote,
h1,
h2,
h3 {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 140px;
  position: relative;
}
.container {
  max-width: 1440px;
  margin-inline: auto;
  width: 100%;
  padding-inline: clamp(16px, 3vw, 50px);
  position: relative;
}
@keyframes star-shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-2px, 1px) rotate(-2deg);
  }
  40% {
    transform: translate(2px, -1px) rotate(2deg);
  }
  60% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@media (max-width: 768px) {
  .main {
    gap: 120px;
  }
}
@media (max-width: 580px) {
  .main {
    gap: 100px;
  }
}
