.legal {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  align-items: start;
  position: relative;
  overflow: visible;
}
.header {
  grid-column: 5 / 12;
  margin: 0 0 118px;
}
.title {
  font-size: 52px;
  font-weight: 600;
  margin: 0 0 30px;
}
.subtitle {
  grid-column: 1 / 2;
  font-size: 20px;
  font-weight: 600;
}
.description {
  font-size: 24px;
  font-weight: 400;
}
.accordion {
  grid-column: 5 / 12;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 0 165px;
}
.maskot {
  grid-column: 1 / -1;
}
.purpleStar {
  z-index: -1;
  will-change: transform;

  transition: transform 0.25s;
  position: absolute;
  top: 5vh;
  right: -15vw;
}
.greenStar {
  z-index: -1;
  will-change: transform;

  transition: transform 0.25s;
  position: absolute;
  bottom: 31vh;
  left: -27vw;
}

.greenStar:hover {
  animation: star-shake 0.4s ease-in-out;
}
.purpleStar:hover {
  animation: star-shake 0.4s ease-in-out;
}
@keyframes star-shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-2px, 1px) rotate(-2deg);
  }
  40% {
    transform: translate(2px, -1px) rotate(2deg);
  }
  60% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@media (max-width: 768px) {
  .legal {
    row-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
  .header {
    margin-bottom: 80px;
    grid-column: 2 / span 3;
  }
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .description {
    font-size: 18px;
  }
  .subtitle {
    grid-column: 1 / 3;
    opacity: 0.6;
  }
  .accordion {
    grid-column: 1 / span 3;
    margin-bottom: 80px;
  }
  .greenStar {
    width: 300px;
  }
}
@media (max-width: 580px) {
  .legal {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .header {
    margin-bottom: 40px;
  }
  .header,
  .subtitle,
  .accordion,
  .maskot {
    grid-column: 1 / span 3;
  }
  .maskot {
    width: 200px;
  }
}
@media (max-width: 410px) {
  .title {
    font-size: 28px;
  }
}
