.intro {
  width: 100%;
  min-height: 860px;
  overflow: visible;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:
    auto
    auto
    1fr
    auto;
  column-gap: 24px;
  row-gap: 40px;
  align-items: flex-start;
  position: relative;
}

.title {
  grid-column: 1 / -1;
  width: 100%;
  margin: 30px 0 48px;

  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9;
  color: var(--accent-green-100);

  font-size: clamp(40px, 15vw, 224px);
  overflow-wrap: break-word;
}
.star {
  position: absolute;
  top: 190px;
  right: -112px;
  z-index: -1;
  transition: transform 0.25s ease;
  will-change: transform;
}

.star:hover {
  animation: star-shake 0.4s ease-in-out;
}

.subtitle {
  grid-column: 5 / 12;
  grid-row: 2;
  font-size: 40px;
  font-weight: 600;
}
.span {
  grid-column: 1 / 3;
  grid-row: 2;
  font-size: 20px;
  font-weight: 600;
}
.image {
  grid-column: 1 / 5;
  grid-row: 5;
  max-width: 231px;
  height: 231px;
  width: 100%;
}
.imageSrc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.ctaBox {
  grid-column: 5 / 10;
  grid-row: 5;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: end;
}
.description {
  font-size: 20px;
}
@media (max-width: 991px) {
  .title {
    font-size: clamp(32px, calc(78px + 14svw), 200px);
    margin: 0 0 20px;
  }
  .subtitle {
    grid-column: 6 / 12;
  }
  .span {
    font-size: 18px;
    grid-column: 1 / 4;
  }
  .ctaBox {
    grid-column: 6 / 11;
    grid-row: 6;
  }
  .image {
    height: 160px;
    width: 168px;
    grid-row: 6;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: clamp(32px, calc(52px + 14svw), 200px);
  }
  .intro {
    padding: 40px 16px;
  }
  .span {
    grid-column: 1 / 4;
  }

  .description {
    font-size: 18px;
  }
}
@media (max-width: 580px) {
  .title {
    font-size: clamp(32px, calc(45px + 11svw), 180px);
  }
  .intro {
    padding: 40px 16px;
  }
  .span {
    display: none;
  }
  .subtitle {
    font-size: 40px;
    grid-column: 1 / 12;
  }
  .image {
    height: 220px;
    width: 220px;
    grid-column: 1 / 12;
    grid-row: 7;
  }
  .ctaBox {
    grid-column: 1 / 12;
    grid-row: 8;
    gap: 28px;
  }
  .description {
    font-size: 22px;
  }
}
@media (max-width: 390px) {
  .title {
    font-size: clamp(32px, calc(52px + 4svw), 180px);
  }
  .subtitle {
    font-size: 28px;
  }
}
